{
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma":"h"
      }
    ]
  ],
  "presets": [
    "es2015"
  ],
  "babylon": {
    "sourceType": "module",
    "plugins": [
      "jsx"
    ]
  }
}
